import NoGo from "../NoGo.js";

export const options = [
    'Pizza',
    'Burger',
    'Salad'
];

export const drivers = [
    'John',
    'Erik'
];

export const nogos = [
    new NoGo('John',null,4), // John wont be rolled for Friday
];
